html
    head
        title View movies by Genre
    body
        if loggedin
            button#logout(class="button" style="float:right;") Logout
        h1(align="right") 
        a(class="button" href="/") Home
        a(class="button" href="/advancedSearch") Advanced Search
        if loggedin
            a(class="button" href="/profile") #{"Hi "+username}
        else 
            a(class="button" href="/loginOrSignup") Login/Signup
        a(class="button" href="/contribute") Contribute
        if loggedin
            a(class="button" href="/users") View Users
        br
        br
        br
        h2(class="label") Movies in #{genreName} Genre:
        div#main
            div(class="column details") 
                each val in data
                        a(class="movieName" href="/movie/"+val.Title) #{val.Title+" "+val.Year}
    link(href="/index.css" rel="stylesheet" )